html,
body {
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

img {
    display: inline-block;
    max-width: 100%;
}

/* ---------
Alert
- used to surface errors to the user
-------------------------------------------------- */

.alert {
    background-color: #ff4545;
    margin: 50px;
}

/* ---------
Container
- meant to add spacing around content
-------------------------------------------------- */

.container {
    padding: 20px 20px 30px;
}


/* ---------
Site
- root level styling for the header, body, and footer
- setup to allow the footer to remain affixed to the bottom of the window
-------------------------------------------------- */

.site {
	display: flex;
	height: 100%; /* needed for IE10 */
	min-height: 100%;
	flex-direction: column;
}

.site-hd {
	flex: 0 0 auto;
}

.site-bd {
	flex: 1 0 auto;
}

/* ---------
Field Set
- form field styling including label
-------------------------------------------------- */

.fieldSet {
    margin: 0;
    display: block;
}

.fieldSet + .fieldSet {
    margin-top: 10px;
}

.fieldSet-label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    line-height: 1rem;
}

.fieldSet-input {
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
}

/* ---------
Button
- button styling for <button> tags and <input type="submit" />
-------------------------------------------------- */

.btn {
    background-color: #00acb0;
    border-radius: 4px;
    color: #f8f8f8;
    display: inline-block;
    padding: 10px;
    outline: 0;
    cursor: pointer;
    font-size: 1.1rem;
}

.btn_sizeMin {
    min-height: 50px;
    min-width: 100px;
}

.btn_sizeFull {
    display: block;
    width: 100%;
}

.btn:hover {
    background-color: #008183;
    text-decoration: none;
}

/* ---------
Link Button
- form field styling including label
-------------------------------------------------- */

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

/* ---------
Vertical Rhythm
- specifically meant to handle vertical spacing
-------------------------------------------------- */

.vr {
    margin-bottom: 10px;
}

.vr_2x {
    margin-bottom: 20px;
}

.vr_3x {
    margin-bottom: 30px;
}

.vr_4x {
    margin-bottom: 40px;
}
